.detail-product-template {
  padding-top: 5rem !important;
  @include media-breakpoint-down(sm) {
    padding-top: 2.5rem !important;
  }
}
#product-information {
  hr {
    height: 2px;
    background: $primary !important;
    opacity: 1;
  }

  .inline-container-base-container {
    width: 100% !important;

    img.preview-box {
      width: 100% !important;
      padding-right: 10px;
    }
  }

  .product-title {
    font-weight: 800;
    margin-bottom: 0;
    white-space: initial;
  }

  .product-out-of-stock {
    font-weight: 100;
    font-style: italic;
    color: $primary;
    font-size: $font-size-sm;
  }

  .thumb-list {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 100px !important;
    height: 500px !important;

    @include media-breakpoint-down(sm) {
      .responsive-image:not(.zoomer-control) {
        height: 60px;
      }
    }
  }

  .product-content-wrapper {
    padding-left: 50px;

    // @include media-breakpoint-down(md){
    //     padding-left: 30px;
    // }

    @include media-breakpoint-down(md) {
      padding-left: 0px;
      padding-top: 35px;
    }
  }

  .product-variants-wrapper {
    margin-left: 20px;
    margin-right: 20px;

    label {
      margin-left: 0px !important;
      margin-bottom: 0px !important;
      font-weight: 500;
    }

    select {
      width: 200px;
      border-width: 1px;
      border-color: $primary;
    }

    @include media-breakpoint-down(sm) {
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  .btn-checkout {
    font-weight: 600;
    font-family: $font-family-sans-serif;
  }

  .vue-number-input__input {
    border: none;
    width: 140px;
    font-size: 18px;
    font-weight: 700;
    font-family: $font-family-sans-serif;
    color: $primary;
    padding-left: 54px;
    padding-right: 54px;
    text-align: center;
  }

  .vue-number-input__button {
    background: #fff3eb !important;
    color: #ffffff !important;
    border-radius: $border-radius;
    border: none;

    &.vue-number-input__button--minus:before {
      background-color: $primary;
      height: 3px;
      width: 15px;
      border-radius: 10px;
    }

    &.vue-number-input__button--plus:before {
      background-color: $primary;
      height: 3px;
      width: 15px;
      border-radius: 10px;
    }

    &.vue-number-input__button--plus:after {
      background-color: $primary;
      width: 3px;
      height: 15px;
      border-radius: 10px;
    }
  }
}

#product-description-and-sizes {
  .product-description-wrapper {
    padding-right: 30px;
    border-right-width: 2px;
    border-right-color: $primary;
    border-right-style: solid;
    white-space: pre-wrap;
  }
  .product-sizes-wrapper {
    padding-left: 30px;
  }

  @include media-breakpoint-down(lg) {
    .product-description-wrapper {
      padding-right: 0px;
      border-right-width: 0px;
    }
    .product-sizes-wrapper {
      padding-left: 0px;
    }
  }

  .table-sizes {
    font-size: 14px;
    font-weight: 600;
    font-family: $font-family-sans-serif;
  }
}

#product-recomendation {
  h2.section-title {
    font-weight: 600 !important;
  }
}

.scroll-horizontal-template {
  width: 100%;
  height: 50%;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  .scroll-horizontal-template__item {
    width: 75%;
    background-color: $tertiary;
    float: none;
    height: 90%;
    margin: 0 5%;
    display: inline-block;
    zoom: 1;
  }
}

@media (max-width: 767.98px) {
  .product-recomendation-desktop {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .product-recomendation-mobile {
    display: none !important;
  }
}

.back-from-details-product {
  margin-bottom: 2rem;
  // background-color: $primary;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  @media (max-width: 715px) {
    a {
      width: 80% !important;
    }
  }
}
