@media (max-width: 991.98px) {
  /* For mobile phones: */

  .login-template {
    [class*='col-'] {
      width: 100%;
    }
    background-color: $tertiary;
    padding: 2.5rem 1rem;

    .card {
      margin: 0 auto;
      float: none;
      width: 100%;
      border: none;
      padding-right: 0%;
      padding-top: 0%;
      padding-bottom: 0%;

      .card-body {
        padding-right: 0%;
        padding-top: 0%;
        padding-bottom: 0%;

        .card-body__left {
          padding-top: 10%;
          padding-left: 0%;
          padding-right: 5%;

          .logo-login-left {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
          }

          .form-check {
            margin-left: 1rem;

            .form-check-label {
              margin-left: 1rem;
            }
          }

          .btn-login-masuk {
            margin-right: 1rem;
            width: 30%;
            margin-top: 1.5rem;
            margin-bottom: 3rem;
          }
          .btn-login-daftar {
            width: 30%;
            margin-top: 1.5rem;
            margin-bottom: 3rem;
          }
        }

        .card-body__right {
          margin-left: 0%;
          padding-left: 0%;
          object-fit: cover;
        }
      }
    }
  }

  .login-textspace-area {
    background-color: white;
  }

  .img-not-mobile {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .login-template {
    background-color: $tertiary;
    padding: 10rem 1rem;

    .card {
      margin: 0 auto;
      float: none;
      width: 75%;
      border: none;
      padding-right: 0%;
      padding-top: 0%;
      padding-bottom: 0%;

      .card-body {
        padding-right: 0%;
        padding-top: 0%;
        padding-bottom: 0%;

        .card-body__left {
          padding-top: 5%;
          padding-left: 10%;
          padding-right: 5%;

          .logo-login-left {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2.2em;
          }

          .form-check {
            margin-left: 1rem;

            .form-check-label {
              margin-left: 1rem;
            }
          }

          .btn-login-masuk {
            margin-right: 1rem;
            width: 45%;
            margin-bottom: 5rem;
          }
          .btn-login-daftar {
            width: 45%;
            margin-bottom: 5rem;
          }
        }

        .card-body__right {
          .img-fluid {
            height: 100% !important;
            object-fit: cover;
          }
        }
      }
    }
  }

  .login-textspace-area {
    background-color: white;
  }
}
