@media (max-width: 767.98px) {
    /* For mobile phones: */
    .payment-redirect-template {
        background-color: $tertiary;
        padding-top: 5rem;
        padding-left: 1.5rem;
        padding-bottom: 3rem;


        .img-payment-redirect {
            width: 200px;
            height: 200px;
            // align-content: center;
        }

        .text-center{
            text-align: center;
        }

        .fa-check-circle{
            color: rgb(118, 211, 118);
        }

        .fa-times-circle{
            color: red;
        }

        .payment-redirect__inv{
            color: $secondary-dark !important;
        }

        .payment-fail-header{
            color: red;
        }

        .payment-redirect-note{
            font-weight: 400 !important;
        }

        .payment-redirect-home{
            padding-bottom: 2rem;
        }

        
    }
}

@media (min-width: 768px) {
    .payment-redirect-template {
        background-color: $tertiary;
        padding-top: 5rem;
        padding-left: 1rem;
        padding-bottom: 3rem;


        .img-payment-redirect {
            width: 200px;
            height: 200px;
            // align-content: center;
        }

        .text-center{
            text-align: center;
        }

        .fa-check-circle{
            color: rgb(118, 211, 118);
        }

        .fa-times-circle{
            color: red;
        }

        .payment-redirect__inv{
            color: $secondary-dark !important;
        }

        .payment-fail-header{
            color: red;
        }

        .payment-redirect-note{
            font-weight: 400 !important;
        }
    }


 
}

