@media (max-width: 767.98px) {
    /* For mobile phones: */
  

  .registration-template {
    [class*="col-"] {
        width: 100%;
      }
      
      background-color: $tertiary;
      padding: 2.5rem 1rem;
  
      .card{
          margin: 0 auto; 
          float: none; 
          width: 100%;
          border: none;
  
          .card-body{
              margin-left: 0%;
              margin-right: 0%;

              .form-check-label{
                  margin-left:  1rem;
              }
              .label-registration{
                  font-weight: bold;
              }
              .button-form-register{
                  padding-bottom: 1.5rem;
              }
          }
      }
  }
  .registration-template__title {
      padding-top: 3rem;
      text-align: center;
      margin-bottom: 15%;
  }
  .label-registration{
      margin-left: 0.5rem;
  }
  .form-group{
      padding-top: 1rem;
  }
 
  .registration-mandatory-agree{
      color: $danger;
  }
}

@media (min-width: 768px) {
  .registration-template {
      background-color: $tertiary;
      padding: 10rem 1rem;
  
      .card{
          margin: 0 auto; 
          float: none; 
          width: 55%;
          border: none;
  
          .card-body{
              margin-left: 10%;
              margin-right: 10%;

              .form-check-label{
                  margin-left:  1rem;
              }
              .label-registration{
                  font-weight: bold;
              }
              .button-form-register{
                  padding-bottom: 5rem;
              }
          }
      }
  }
  .registration-template__title {
      padding-top: 3rem;
      text-align: center;
      margin-bottom: 15%;
  }
  .label-registration{
      margin-left: 0.5rem;
  }
  .form-group{
      padding-top: 1rem;
  }

  .registration-mandatory-agree{
      color: $danger;
  }
 
}

