#products-filter {
  select#sortBy {
    background-color: $secondary;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    color: #554941;
    padding: 10px 25px;
  }

  margin-top: 40px;
  margin-bottom: 40px;
}

#products-and-navigation {
  @media (min-width: 992px) {
    .navigation-wrapper-outer {
      padding-left: 0%;
    }

    .products-wrapper-layout {
      padding-left: 2rem;
      padding-bottom: 1.5rem;
    }
  }

  .navigation-wrapper {
    border-radius: 15px;
    background-color: $secondary;
    padding: 40px 25px;
    margin-bottom: 30px;
    // box-shadow: 0px 10px 25px rgb(0 0 0 / 7%);
    box-shadow: 0px 3px 6px rgb(0 0 0 / 15%);

    .navigation-title {
      font-size: 18px;
      font-weight: 600;
      color: #554941;
      margin-bottom: 10px;
    }

    ul.navigation-list {
      list-style: none;
      padding: 0;

      li.navigation-list-item {
        margin-top: 5px;

        a {
          font-weight: 400;
          position: relative;
          text-decoration: none;

          &:not(.dropdown-toggle) {
            &::after {
              content: '';
              display: block;
              position: absolute;
              bottom: 0;
              left: 0;
              right: 100%;
              border-bottom: 2px solid;
              border-bottom-color: $primary;
              transition: right 0.5s;
            }

            &:hover::after {
              right: 0;
            }
          }

          &.dropdown-toggle {
            &::before {
              content: '';
              display: block;
              position: absolute;
              bottom: 0;
              left: 0;
              right: 100%;
              border-bottom: 2px solid;
              border-bottom-color: $primary;
              transition: right 0.5s;
            }

            &:hover::before {
              right: 0;
            }
          }
        }
      }

      ul.navigation-list-item-child {
        list-style: none;
        padding-left: 10px;
        margin-top: 5px;
      }
    }

    select#filterByMotif,
    select#filterBySize {
      background-color: $primary;
      border: none;
      border-radius: 20px;
      font-weight: 600;
      color: $white;
      padding: 10px 25px;
    }

    &.navigation-wrapper-mobile {
      margin-top: -25px;
    }
  }

  .products-wrapper {
    .product-item {
      margin-bottom: 20px;

      .product-image-wrapper {
        background: #fffcf9;
        border-radius: 10px;

        img.product-featured {
          height: 210px;
        }

        @include media-breakpoint-down(sm) {
          img.product-featured {
            height: 150px;
          }
        }
      }

      .action-wrapper {
        @include media-breakpoint-down(sm) {
          padding: 15px;

          .btn {
            font-size: 14px;
          }
        }
      }

      .product-content {
        @include media-breakpoint-down(sm) {
          margin-top: 15px;

          .product-price.on-promotion {
            display: block;
            font-size: 10px;
          }
        }
      }
    }
  }
}

#products-pagination {
  margin-top: 40px;
  margin-bottom: 40px;

  .pagination {
    .page-item {
      .page-link {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
        box-shadow: 0px 3px 6px rgb(0 0 0 / 15%);
        border-color: rgba(85, 73, 65, 0.16);

        &.page-link-next,
        &.page-link-prev {
          font-size: 25px;
        }

        &:not(.page-link-next),
        &:not(.page-link-prev) {
          margin-left: 5px;
          margin-right: 5px;
        }

        &:hover {
          background-color: #857e79;
          color: #ffffff;
        }

        &-no-hover:hover {
          background-color: transparent !important;
          color: $primary
        }
      }

      &.active {
        .page-link {
          background-color: #857e79;
        }
      }
    }
  }
}
